@media screen and (max-width: 900px) {    
    .Helm{
        height: 380px;
    }

    .Propil {
        width: 60%;
    }
}

@media screen and (max-width: 425px) {
    .Banner{
        height: 200px;
    }
    
    .Product {
        flex-direction: column;
    }

    h3 {
        padding-top: 20px;
        width: 40%;
        font-size: 30px;
        border-bottom: 5px solid black;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 10px;

    }
    
    .judul {
        margin: 0 auto;
        width: 90%;
    }

    .content {
        margin: 0 20px;
        float: left;
    }

    .harga {
        padding-left: 40px;
        padding-bottom: 20px;
    }

    .button {
        padding-top: 15px;
    }

    #Panduan img {
        width: 80%;
    }

    .Profil p{
        font-size: 12px;
    }
        
}

@media screen and (max-width: 380px) {
    .harga {
        padding: 0;
    }

    .content {
        margin: 0 10px;
        float: left;
    }
}